<div class='container'>
	<h1 id='zin' contenteditable='true'>Click Here To Edit.</h1>
	<div class='image_container'>
		<img id='big_img' src='https://via.placeholder.com/650?text=Click To Upload' alt='' />
	</div>
</div>