<footer class='py-3 my-4'>
	<div class='nav justify-content-center'>
		<a href='https://twitter.com/persoons_stan' class='nav-link px-2 text-muted'>
			<b><h4 id='timeToEdit' class='nav-item'>Calculating time...</h4></b>
		</a>
	</ul>
</footer>